{% extends "django_db_view/base.html" %}
{% load static %}
{% load getattrib %}
{% load admin_urls %}
{% load url_replace %}


{% block css %}
<style>
.toolbar {
  margin: 10px auto;
}
</style>
{% endblock css %}
{%  block content %}
<div class="container-fluid">
  <h3>{{title}}</h3>
  <hr>
   <div class="toolbar">
     <a target="_blank" role="button" class="btn btn-primary" href="{% url model_meta|admin_urlname:'add' %}">Add new</a>
   </div>
  <table>
    <thead>
      <tr>
        {% for head in headers %}
        <th>{{head}}</th>
        {% endfor %}
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for obj in page_objs %}
      <tr>
        {% for field in fields %}
          <td>{{obj|getattrib:field}}</td>
        {% endfor %}
        <td>
          <a target="_blank" href="{% url model_meta|admin_urlname:'change' obj.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a target="_blank" href="{% url model_meta|admin_urlname:'delete' obj.id %}"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination" style="display:block;text-align:center;">
  {% if page_objs.has_previous %}
  <a class="pag-btn" href="?{% url_replace page=page_objs.previous_page_number %}">«</a>
  {% endif %}

  <a class="pag-btn" href="#">Page {{ page_objs.number }} of {{ page_objs.paginator.num_pages }}</a>

  {% if page_objs.has_next %}
  <a class="pag-btn" href="?{% url_replace page=page_objs.next_page_number %}">»</a>
  {% endif %}
</div>

{% endblock content %}
