{% extends "django_db_view/base.html" %}
{% load static %}
{% load url_replace %}

{% block css %}
<link href="{% static 'slideshow/slideshow.css' %}" rel="stylesheet">
{% endblock css %}

{% block js %}
<script src="{% static 'slideshow/slideshow.js' %}"></script>
<script>
$(document).ready(function () {
  $(".remove-img").click(function(e) {
    e.stopPropagation();
    var img_block_node = $(this).parent().parent();
    var url = $(this).data('href');
    $.ajax({
      url: url,
      success: function(data){
        console.log(data);
        if (data['success']) {
          img_block_node.remove();
        }
      }
    })
  });

  $(".submit-score").click(function() {
    var url = $(this).data('href');
    var score = $(this).prev().val();
    var score_node = $(this).parent().prev();
    $.ajax({
      url: url,
      data: {'score': score},
      success: function(data){
        console.log(data);
        if (data['success']) {
          score_node.text(score);
        }
      }
    })
  });

  SlideShow.init(
    [{'selector':'.box-img', 'attrib':'data-image-url'}]
  )
});


</script>
{% endblock js %}


{% block content %}
<div class="container-fluid">
  <h3>{{title}}</h3>
  <hr>
  <div class="img-container">
    {% for obj in page_objs %}
    {% with obj.get_view_galery_obj_image as obj_image %}
    {% if obj_image %}
    <div class="img-block" data-image-id="{{obj_image.id}}" data-from-app="obj_image.get_come_from_app}}" data-rating="{{obj_image.score}}">
      <div class="box-img box-{{obj_image.get_image_ext}}" data-image-url="{% if obj_image.file %}{{obj_image.file.url}}{% endif %}">
        {% if obj_image.thumbnail.name %}
        <img src="{{obj_image.thumbnail.url}}"></img>
        {% else %}
        <img src="{% static 'django_db_view/images/no_thumbnail.jpg' %}"></img>
        {% endif %}
        <span title="删除" class="glyphicon glyphicon-remove-circle remove-img" data-href="{% url 'image:delete_image' image_id=obj_image.id %}"></span>
      </div>
      <div class='pull-right'>{% if obj_image.score %}{{obj_image.score}}{% endif %}</div>
      <div class="img-rating">
        <input style="width: 40px;" placeholder="score">
        <span class="glyphicon glyphicon-ok-circle submit-score" data-href="{% url 'image:rating_image' image_id=obj_image.id %}"></span>
      </div>
      <div><a target="_blank" href="{% url 'admin:image_image_change' obj_image.id %}">{{obj_image}}</a></div>
    </div>
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>

  <div class="pagination">
    {% if page_objs.has_previous %}
    <a class="pag-btn" href="?{% url_replace page=page_objs.previous_page_number %}">«</a>
    {% endif %}
    <a class="pag-btn" href="#">Page {{ page_objs.number }} of {{ page_objs.paginator.num_pages }}</a>
    {% if page_objs.has_next %}
    <a class="pag-btn" href="?{% url_replace page=page_objs.next_page_number %}">»</a>
    {% endif %}
  </div>
</div>

{% endblock content %}
